html,
body {
  background-color: #828282;
  width: 100vw;
  height: 100vh;
  font-family: "Stylish", sans-serif;
}
.hidden {
  display: none;
}

.main {
  background: #828282;
  margin: 0;
}
.main h1 {
  font-size: 70px;
  font-weight: bolder;
}
.main p {
  font-size: 30px;
}
.직별btn {
  width: 100%;
  max-width: 1140px;
}

.inputContainer {
  width: 80%;
  max-width: 1140px;
  background: #25259e;
  margin: auto;
  padding: 15px;
  color: white;
  text-align: center;
}

.inputContainer input {
  width: 60%;
  height: 40px;
  margin: 0 1rem;
  text-align: center;
}
.inputContainer button {
  width: 20%;
  height: 40px;
}
.inputContainer p {
  margin: 20px 0 0 0;
  padding: 0%;
}

.content {
  width: 80%;
  max-width: 1140px;
  background: #828282;
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  top: 100px;
  padding-bottom: 90px;
}
.container {
  width: 100%;
  text-align: left;
  font-size: 25px;
  font-weight: bolder;
}
.progress {
  width: 100%;
  height: 40px;
  background: rgb(236, 166, 166);
  margin: auto;
}

footer {
  width: 100%;
  height: 80px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-color: #343a40;
  color: white;
  text-align: center;
}
