html,
body {
  background-color: #828282;
  width: 100vw;
  height: 100vh;
  font-family: "Stylish", sans-serif;
}
.hidden {
  display: none;
}
.main {
  background: #828282;
  margin: 0;
}
.main .container {
  padding: 0;
}

.main h1 {
  font-size: 40px;
  font-weight: bolder;
}
.main p {
  font-size: 20px;
}
.직별btn {
  width: 100%;
  max-width: 768px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.inputContainer {
  width: 80%;
  max-width: 768px;
  background: #25259e;
  margin: auto;
  padding: 10px;
  color: white;
  text-align: center;
}

.inputContainer input {
  width: 50%;
  margin: 0 1rem;
  text-align: center;
}
.inputContainer button {
  font-size: 12px;
  width: 30%;
}
.inputContainer p {
  margin: 10px 0 0 0;
  padding: 0%;
}

.content {
  width: 80%;
  max-width: 768px;
  background: #828282;
  padding-top: 0;
  padding-bottom: 60px;
  margin: auto;
  position: relative;
  top: 10px;
}
.container {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
}
.progress {
  width: 100%;
  height: 20px;
  background: rgb(236, 166, 166);
  margin: auto;
}

footer {
  width: 100%;
  height: 50px;
  padding: 5px;
  position: absolute;
  background-color: #343a40;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
}
footer h4,
footer p {
  margin: 0px;
  font-size: 12px;
}
