* {
  font-family: "Stylish", sans-serif;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 10%;
  color: white;
}

.jumbotron {
  width: 1280px;
  height: 20%;
  margin-bottom: 0;
  text-align: center;
  padding: 1rem;
}

.insertForm {
  width: 1280px;
  height: 20%;
  background-color: wheat;
  margin: 0;
  padding: 1%;
  text-align: center;
}

.main-content {
  width: 1280px;
  height: 50%;
  background-color: gray;
  margin: auto;
}
